<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="7.6.1" targetFramework="net47" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net47" />
  <package id="NEST" version="7.6.1" targetFramework="net47" />
  <package id="NEST.JsonNetSerializer" version="7.6.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net47" />
  <package id="NUnit" version="3.8.1" targetFramework="net47" />
  <package id="NUnit3TestAdapter" version="3.16.1" targetFramework="net47" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net47" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net47" />
</packages>