<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="ElasticSearchAppender" />
  </root>

  <appender name="ElasticSearchAppender" type="log4stash.ElasticSearchAppender, log4stash">
    <Server>localhost</Server>
    <Port>9200</Port>
    <IndexName>index_%{logger}</IndexName>
    <IndexType>LogEvent</IndexType>
    <Bulksize>1000</Bulksize>
    <BulkIdleTimeout>5000</BulkIdleTimeout>
    <MaxConcurrentRequests>100</MaxConcurrentRequests>
    <IndexAsync>True</IndexAsync>
    <FixedFields>Partial</FixedFields>
  </appender>


</log4net>