<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <startup>
        <supportedRuntime sku=".NETFramework,Version=v4.0" version="v4.0"/>
    </startup>
    <log4net>
        <appender name="ElasticSearchAppender" type="log4stash.ElasticSearchAppender, log4stash">
            <Server>localhost</Server>
            <Port>9200</Port>
            <IndexName>log_index_%{+yyyy.MM.dd}</IndexName>
            <IndexType>LogEvent</IndexType>
        </appender>
        <root>
            <level value="ALL"/>
            <appender-ref ref="ElasticSearchAppender"/>
        </root>
    </log4net>
</configuration>